<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if tool %}
      <title>{{tool.name}} | AST</title>
    {% else %}
      <title>AST Tooling</title>
    {% endif %}

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <style media="screen">

      .navbar {
        background-color: #4682B4;
      }

      .active a {
        color: orange !important;
        font-size: 17px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    {% block header %}

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#">About</a>
          </li>
          {% ifequal tool.name "GMC 3000 Transparency" %}
          <li class="nav-item">
              <a class="nav-link" href="#">GMC Search</a>
          </li>
          {% endifequal %}
        </ul>
      </div>
    </nav>


    {% endblock header %}
    <div class="body">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
