{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


  <h1 style="margin-left:50px;">{{ tool.name }}</h1>
  {% if error_message  %}
    <p><strong>{{ error_message}}</strong></p>
  {% endif %}
  <div class="container">
    <form id="form" class="form" action="{% url 'app:gmc_index' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" name="" value="Send the Hotsauce">
    </form>
  </div>

{% if gmctemp %}

  <div class="container" id="results">
      <ul class="list-group list-group-flush">
        {% for temp in gmctemp %}
          <li class="list-group-item"><a class="text-decoration-none text-monospace font-weight-bold" href="/gmc/{{ gmccust.cust_id }}/{{ temp.ffd_id }}">{{ temp.ffd_id }}</a></li>
        {% endfor %}
      </ul>

  </div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
      console.log("jquery is loading");
        // $("#ffd_id, label[for='ffd_id']").hide();
        $("#cust_name_id").change(function () {
            console.log($(this).val());
        });
        // Autocomplete form
        $("#cust_name_id").autocomplete({
            source: "/gmc/search/",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            }
          });


    });
</script>
{% endblock content %}
