{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% load static %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'app/status.css' %}"></head>
<h1>Queries for SurveyGizmo Response {{ id }}</h1>

<body>

    {% if status == "PARTIAL" %}
    <div class="Partial"> 
    {% else %} 
    <div class="Success">
    {% endif %}
    <h2>{{ status }}</h2>
    </div>

    <a target="_blank" download="queries.txt" href="DML Script">DML Script</a>

</body> 
{% endblock content %}