{% extends "test.html" %}
{% block content %}
<br><div id="topcorner"><a class="btn btn-outline-primary" href="{% url 'app:loads' %}" role="button">Back</a></div>
<br>
<div class="card">
        <div class="card-header">
            <h1><b> Load Attempt {{ object.pk }}</b></h1>
        </div>
        <div class="card-body">
        <table class="table">

        {% if object.survey_id %}
        <tr>
            <td>Survey ID</td>
            <td><b>{{ object.survey_id }}</b></td>
        </tr>
        {% endif %} 

        {% if object.response_id %}
    	<tr>
            <td>Response ID</td>
            <td><b>{{ object.response_id }}</b></td>
        </tr>
        {% endif %}      
    	{% if object.customer_id %}
    	<tr>
            <td>Customer ID</td>
            <td><b>{{ object.customer_id }}</b></td>
        </tr>
        {% endif %}  
        {% if object.pcase_num %}
    	<tr>
            <td>P-Case Number</td>
            <td><b>{{ object.pcase_num }}</b></td>
        </tr>
        {% endif %}  
        </table>
        <a class="btn btn-outline-info" href="{% url 'app:load_answers' pk=object.pk %}">Generate Queries</a>

        </div>
</div>
{% endblock content %}