{% extends "test.html" %}
{% block content %}
<div class="card">
        <div class="card-header">
            <h1><b> Load Attempt {{ object.pk }}</b></h1>
        </div>
        <div class="card-body">
        <table class="table">

        {% if object.survey_id %}
        <tr>
            <td>Survey ID</td>
            <td>{{ object.survey_id }}</td>
        </tr>
        {% endif %} 

        {% if object.response_id %}
    	<tr>
            <td>Response ID</td>
            <td>{{ object.response_id }}</td>
        </tr>
        {% endif %}      
    	{% if object.customer_id %}
    	<tr>
            <td>Customer ID</td>
            <td>{{ object.customer_id }}</td>
        </tr>
        {% endif %}  

        </table>
        <a class="btn btn-outline-info" href="{% url 'app:load_answers' pk=object.pk %}">Generate Queries</a>

        </div>
</div>
{% endblock content %}