{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

  {% if error_message  %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <div class="container">

    <h1 style="margin-left:50px;">{{ tool.name }}</h1>


    <form id="form" class="form" action="{% url 'app:prepost' %}" method="post">

      <div class="row border-top border-bottom border-gray pt-2 mb-2">
        <p>
          Prepost Compare attempts to take two batches, match up documents and show what changed between them. The output is sent to Google Sheets and everything that changed between batches is highlighted in red. The tool works best when the same exact files are ran in both batches so that the file names are consistent and there are the same number of documents in each batch. If you find any issues, have improvement suggestions or want to see a particular feature added, please contact cweakley@billtrust.com and asimon@billtrust.com. <a target="_blank" href="https://billtrust.atlassian.net/wiki/spaces/AT/pages/771129524/Prepost+Compare+Documentation">See confluence for full documentation.</a></h>
        </p>  
      </div>

            

      <div class="row">

        <div class="col-3 border-right border-dark">                 
          {% csrf_token %}
          <a class="text-dark" href="#" data-toggle="tooltip" title="Numeric CSR ID, ex: 2179">{{form.csr_ppc_id|as_crispy_field}}</a>
          <a class="text-dark" href="#" data-toggle="tooltip" title="Prechange Batch ID">{{form.prechange_id|as_crispy_field}}</a>
          <a class="text-dark" href="#" data-toggle="tooltip" title="Postchange Batch ID">{{form.postchange_id|as_crispy_field}}</a>           
        </div>

        <div class="col-1.5 ml-3">
          <a class="text-dark" href="#" data-toggle="tooltip" title="Match documents between batches using a master key or by sorted document id order.">{{form.compare_logic|as_crispy_field}}</a>
          <a class="text-dark" href="#" data-toggle="tooltip" title="Environment that the prechange batch is from.">{{form.pre_env|as_crispy_field}}</a>
          <a class="text-dark" href="#" data-toggle="tooltip" title="Environment that the postchange batch is from.">{{form.post_env|as_crispy_field}}</a> 
        </div>

        <div class="col-1.5 ml-3 align-self-end">

          <a class="text-dark" href="#" data-toggle="tooltip" title="How to handle doc prop pairs (rows) that were not changed between batches.">{{form.unchanged_rows|as_crispy_field}}</a>
          <a class="text-dark" href="#" data-toggle="tooltip" title="How to handle document properties (columns) that were not changed for all documents between batches.">{{form.unchanged_cols|as_crispy_field}}</a>           
        </div>


        <!-- <div class="col-1.5 ml-3">
          <button class="btn btn-primary mt-4" type="button" data-toggle="dropdown">Masterkey Props
              <span class="caret"></span>
          </button>
          <div class="dropdown-menu">
              <div><a href="#">{{form.masterkey_props}}</a></div>
          </div> 
        </div>  -->

      </div>    

      <div class="row mt-3">
        <div class="col">
          <a class="text-dark" href="#" data-toggle="tooltip" title="Google Sheets URL where the compare should display, only used if you have a pre-existing Google Sheet that you want to add to.  If left blank, a new spreadsheet will be created.">{{form.spreadsheet_url|as_crispy_field}}</a>
          <input type="submit" name="" value="Create That Good Stuff">
        </div>           
      </div>
        
    </form>

    <ul id='status-list'></ul>

    {% if url %}
    <hr>
    <h5><a target="_blank" href="{{ url }}">Click to open Pre Post Sheet</a></h5>
    {% endif %}

  </div>


<script>
  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
  }
  console.log("hey im in the log");

  /*
  var loc = window.location
  var formData = $('#form')
  var csrId = $('#id_csr_ppc_id')
  var preId = $('#id_prechange_id')
  var postId = $('#id_postchange_id')
  var url = $('#id_spreadsheet_url')
  var status_list = $('#status-list')

  var wsStart = loc.protocol == 'https:' ? 'wss://' : 'ws://'

  var endpoint = wsStart + loc.host + loc.pathname
  var socket = new WebSocket(endpoint)

  socket.onmessage = function(e){
    console.log("message", e)
    var currStatus = JSON.parse(e.data)
    status_list.append('<li>' + currStatus + '</li>')
  }
  socket.onopen = function(e){
    console.log("open", e)
    formData.submit(function(event){
      event.preventDefault()
      //socket.send(formData)
      var args = {
        'csrId': csrId.val(),
        'preId': preId.val(),
        'postId': postId.val(),
        'url': url.val()     
      }
      socket.send(JSON.stringify(args))
    })


  }
  socket.onerror = function(e){
    console.log("wrror", e)
  }
  socket.onclose = function(e){
    console.log("close", e)
  }
  */
</script>  
       

{% endblock content %}
