{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h1 style="margin-left:50px;">{{ tool.name }}</h1>
  {% if error_message  %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <div class="container">

    <div class="row">

      <div class="col-3 border-right border-dark">
        
        <form class="form" action="{% url 'app:prepost' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            
        </form>
      </div>


      <div class="col-1.5 ml-3">
        <form class="optForm" action="{% url 'app:prepost' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form optForm %}
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <form class="subForm" action="{% url 'app:prepost' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form subForm %}
            <input type="submit" name="" value="Create That Good Stuff"> 
        </form>
      </div>
    </div>  

        
  </div>
  {% if url %}
  <hr>
  <h5><a target="_blank" href="{{ url }}">Click to open Pre Post Sheet</a></h5>
  {% endif %}
{% endblock content %}
